@import "reset.css";
@import "font.css";

body {
    font-family: Inter, serif;
}

h1,
h2,
h3 {
    font-family: Koulen, sans-serif;
}

:root {
    --main-color: #FFDB00;
    --secondary-color: #FFF;
    --third-color: #180B6E;
}

/***************** Global *****************/

section {
    background-color: var(--secondary-color);
}

h2 {
    color: var(--third-color);
    font-size: 3rem;
}

h2[data-bind="teamName"] {
    color: #000;
}

h3 {
    font-size: 2rem;
}

h3[data-bind-global="count"] {
    font-size: 40px;
}

a.btn,
button {
    color: var(--secondary-color);
    background-color: var(--third-color);
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;

}
.test{
    margin: 0 auto;
}

section.yellow-style {
    background-color: var(--main-color);
}

/****** mobil *******/
@media screen and (width < 460px) {

    h2 {
        font-size: 2rem;
    }

    h3[data-bind-global="count"] {
        font-size: 30px;
    }

}

/********** section intro ************/
#welcome {
    text-align: center;
    background: none;
    top: 0;
    left: 0;
}

#welcome p {
    font-size: 1.25rem;
}

#welcome>p:last-of-type {
    margin-bottom: 2rem;
}

#main-element>div {
    font-family: Koulen, sans-serif;
    font-size: 170px;
    line-height: 0px;
    margin-top: 8rem;
}

#main-element>h1 {
    color: #000;
    font-family: Koulen, sans-serif;
    font-size:90px;
    line-height: 0rem;
    margin-top: 8rem;

}

#main-element>h2 {
    font-family: Koulen, sans-serif;
    font-size: 30px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    line-height: 0rem;
    color: #000;
}


#welcome>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#welcome>div p {
    font-size: 1rem;
    font-family: ChivoMono, sans-serif;
}

/****** intermédiaire *******/
@media screen and (460px < width < 750px) {
    #main-element>div {
        font-size: 110px;
        margin-top: 10rem;
    }

    #main-element>h1 {
        font-size: 50px;
        margin-top: 4rem;
    }

    #main-element>h2 {
        font-size: 20px;
        margin-top: 2.25rem;
        margin-bottom: 2rem;
    }

    h3[data-bind-global="count"] {
        font-size: 30px;
    }

    #welcome>div p {
        font-size: 0.75rem;
    }
}

/****** mobil *******/
@media screen and (width < 460px) {

    #main-element>div {
        font-size: 70px;
        margin-top: 10rem;
    }

    #main-element>h1 {
        font-size: 30px;
        margin-top: 2.5rem;
    }

    #main-element>h2 {
        font-size: 17px;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    h3[data-bind-global="count"] {
        font-size: 25px;
    }

    #welcome>div p {
        font-size: 0.75rem;
    }
}

/********* logo slide show *******/

.logo-animation article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 120px; 
}

.logo-animation article img {
    height: auto;
    width: 100px;
    margin-bottom: 1rem;
}

.logo-animation article h2 {
    font-size: 15px;
    font-weight: bold;
    text-wrap: nowrap;
}

.logo-animation article p {
    display: none;
}

.logo-animation {
    display: flex;
    gap: 4rem;
}


/***** animation logo slide show ****/
.slider {
    overflow: hidden;
    margin-top: 5rem;
    padding-bottom: 4rem;
}

.slider-track {
    animation: alternate scroll 45s linear infinite;
}


/* Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/************ intro *************/

#introduction {
    display: grid;
    grid-template-areas: "intro void"
        "void description";
    grid-template-columns: 0.5fr 1fr;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
    height: fit-content;
    padding: 2rem;
}

#introduction h2 {
    justify-self: right;
}

#introduction div p {
    margin: 2rem 0rem;
}

#introduction div p:last-of-type {
    margin-bottom: 4rem;
}

#introduction div {
    border-radius: 20px;
    padding: 1rem 1rem;
}

/****** intermédiaire *******/
@media screen and (width < 750px) {

    #introduction {
        grid-template-areas: "intro"
            "description";
        grid-template-columns: 1fr;
    }

    #introduction h2 {
        justify-self: left;
    }
}

/************ Insight style*************/

#insights-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    gap: 1rem;
    padding: 2rem;
}

#insights-container>h2{
line-height: 60px;
} 
article.insight-item {
    height: auto;
    width: 30vw;
    padding: 2rem;
    background-color: var(--main-color);
    border-radius: 20px;
    font-weight: bold;

}

.insight-item>h2 {
    font-size: 2.5rem;
}

.insight-item>p {
    width: auto;
    text-transform: uppercase;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.insight-item:nth-child(3),
.insight-item:nth-child(5) {
    border-radius: 90px;
}

/****** intermédiaire *******/
@media screen and (width < 750px) {

    #insights-container {
        grid-template-columns: 1fr;
    }

    article.insight-item {
        height: auto;
        width: 100%;
    }

}

/****** mobil *******/
@media screen and (width < 460px) {

    .insight-item>p {
        font-size: 15px;
    }
}

/********** section call to action ***********/
#call-to-action {
    padding: 2rem;
    align-content: center;
    text-align: right;
}

#call-to-action p {
    font-size: 17px;
    
}

#call-to-action p:last-of-type {
    margin-bottom: 3rem;
}

/****** mobil *******/
@media screen and (width < 460px) {

    #call-to-action a {
        font-size: 10px;
    }
}


/*********** img séparator ************/
#img-separator {
    background-image: url("../img/contrat-professionnel-football.jpg");
    background-position: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}


/********* Style pour le formulaire ********/
#form {
    padding-bottom: 4rem;
}

#form h2 {
    text-align: center;
}

#downloadForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#inline {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

#inline input {
    flex: 1;
    min-width: 0;
}

#downloadForm input {
    padding: 0.5rem;
    border-radius: 10px;
    border: 3px solid #FFEB74;
    background-color: var(--main-color);
    text-align: center;
}

#downloadForm input:target {
    border: none;
    outline-style: none;
}

#downloadForm>button {
    border-style: none;
}

#consent-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/********** Style message d'erreur (messageItem.html) ***********/
#messageContainer {
    max-width: 500px;
    margin: 0rem auto;
}

#messageContainer>aside {
    border-radius: 10px;
    border: 3px solid;
    padding: 0.75rem;
    margin: 1rem;
}

#messageContainer>aside>p {
    border-radius: 4px;
    font-weight: 500;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #721c24;
}

/*************** progress barre ***************/
.progress-container {
    text-align: center;
}

.progress-bar {
    width: 100%;
}

progress::-webkit-progress-bar{
    border-radius: 5px;
    background-color: #FFEB74;
}
progress::-webkit-progress-value{
    border-radius: 5px;
    background-color: var(--third-color);
}

/************ Footer style **************/
footer {
    display: flex;
    justify-content: space-around;
    color: var(--secondary-color);
    background-color: var(--third-color);
    font-family: ChivoMono, sans-serif;
    padding: 2rem 0rem 3rem 0rem;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

#social {
    display: flex;
    gap: 1rem;
}

#social img {
    height: 20px;
    width: auto;
}

#contact>a {
    text-decoration: none;
    color: var(--secondary-color);
}

/****** intermédiaire *******/
@media screen and (width < 750px) {

    footer h2 {
        font-size: 1rem;
    }

    #contact>a,
    #credits {
        font-size: 0.75rem;
    }

}

/****** mobil *******/
@media screen and (width < 460px) {

    footer h2 {
        font-size: 0.75rem;
    }

    #contact>a,
    #credits {
        font-size: 0.5rem;
    }
}