@import "reset.css";

/************ Insight style*************/

#insights-container{

}

.insight-item{
    display: flex;
    flex-direction: row;
}

.insight-item > img{
    max-height: 50vh;
}


/******** Style pour la liste *******/
#teamList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

#teamList article {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}


/********* Style pour le formulaire ********/
#downloadForm {
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#downloadForm input{
    padding: 0.5rem;
    border-radius: 10px;
}
#downloadForm > button {
    border-radius: 10px;
    border: 2px solid rgb(161, 156, 156);
    padding: 0.75rem;
}
#consent-box{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/********** Style message d'erreur (messageItem.html) ***********/
#messageContainer {
    max-width: 500px;
    margin: 1rem auto;
}

#messageContainer > div{ 
        border-radius: 10px;
        border: 3px solid;
        padding: 0.75rem;
}

.message > p {
    padding: 1.5rem;
    border-radius: 4px;
    font-weight: 500;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #721c24;
}

/************ Footer style **************/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer section{

}